<footer class="container">
    <div class="footer-cols">
        <div>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/games/index.html">Games</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
            <a href="/privacy.html">Privacy Policy</a>
        </div>
        <div class="socials">
            <a href="https://play.google.com/store/apps/dev?id=8968137923229043394" target="_blank">
                <img src="/assets/img/socials/play.webp" alt="play" title="Play">
            </a>
            <a href="https://www.youtube.com/@brambasieldev" target="_blank">
                <img src="/assets/img/socials/youtube.webp" alt="youtube" title="YouTube">
            </a>
            <a href="https://twitch.tv/brambasiel" target="_blank">
                <img src="/assets/img/socials/twitch.webp" alt="twitch" title="Twitch">
            </a>
        </div>
    </div>
    <p>
        <!-- {GOOGLE PLAY} -->
        ©2023-<!-- {CUR YEAR} --> Doomhowl Interactive
    </p>
</footer>