body {
    background-color: var(--bs-body-bg);
}

nav {
    margin-bottom: 1rem;
}

nav img {
    margin-right: 0.5rem;
}

.hidden {
    opacity: 0 !important;
}

.card {
    text-decoration: none;
}

.game-card {
    display: inline-block;
    margin-right: 2rem;
}

figure img {
    max-width: 40%;
}