<main class="container">
    <h1>Privacy Policy</h1>
    <p>
        This page is used to inform visitors regarding our policies with the
        collection, use, and disclosure of Personal Information if anyone
        decided to use our products.
    </p>
    <p>
        Our apps use third-party services that may collect information used to
        identify you. These are listed below:
    </p>
    <ul id="libs">
        <li>Google Play Services</li>
        <li>Google AdMob</li>
        <li>Firebase Crashlytics</li>
    </ul>
    <p>
        These libraries and SDKs by Google can collect:<br />
        <em>Your approximate location, app interactions, diagnostic information,
            device, user IDs or other IDs and crash logs</em>
    </p>
    <p>This data is collected with the purpose of:</p>
    <ul>
        <li>Marketing and advertising</li>
        <li>Analytics</li>
        <li>Fraud prevention</li>
        <li>Security and compliance</li>
        <li>Improving app experience by collecting crash reports</li>
    </ul>
    <p>
        Doomhowl Interactive does not collect any personal data outside of these
        SDKs. We personally do not sell your data to anyone.
    </p>
    <h3>Vortex</h3>
    <p>Our app, Vortex, lets users take a photo with their phone's camera or choose one from their gallery to use as the
        game background. This is done using Android intents, ensuring that only the images taken or selected through
        this process are accessible by the app. Doomhowl Interactive does not collect or store any user-generated
        images. <br/>
        Vortex makes use of the Pixabay Developer API. Its privacy policy can be found <a href="https://pixabay.com/service/privacy/">here</a>.
    </p>
    <h2>Cookies</h2>
    <p>
        Cookies are files with a small amount of data that are commonly used as
        anonymous unique identifiers. These are sent to your browser from the
        websites that you visit and are stored on your device's internal memory.
    </p>
    <h3>doomhowl-interactive.com</h3>
    <p>This website does not use cookies.</p>
    <h3>Our mobile apps</h3>
    <p>
        Our mobile apps contain third-party code and libraries that use cookies
        or similar tracking technologies in order to display ads and collect
        analytics. Currently, it is not possible to opt-out of these services or
        request removal of your data.
    </p>
    <h2>Changes to This Privacy Policy</h2>
    <p>
        We may update our Privacy Policy from time to time. You are advised to
        review this page periodically for any changes.
    </p>
    <p>
        Last updated on 2025-02-14
    </p>
</main>