.pop-in.show {
    opacity: 1;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-out;
}

.pop-in {
    opacity: 0;
    transform: translateX(-20px);
}

@media(prefers-reduced-motion) {
    .pop-in.show {
        transition: none;
    }
}